@model GOLD.TestsDomain.Interfaces.IUxA

@{
    ViewBag.Title = "UxA";
    var txid = (string)ViewBag.txid + "/";
}

<h2>UxA</h2>

<div>
    <h4>UxA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SomeInterfacePropertyA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomeInterfacePropertyA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Goto UxB (Better Method)", "GotoUxB", new { txid = txid })
</p>
<p>
    @Html.ActionLink("Done", "LuTest1Done", new { txid = txid }, new { @class = "btn btn-success" })
</p>
