@model GOLD.TestsDomain.Interfaces.IUxB

@{
    ViewBag.Title = "UxB";
    var txid = (string)ViewBag.txid + "/";
}

<h2>UxB</h2>

<div>
    <h4>UxB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SomeInterfaceProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomeInterfaceProperty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Goto UxA (Bad Method)", "UxA", new { txid = txid })
</p>
<p>
    @Html.ActionLink("Goto UxA (Better Method)", "GotoUxA", new { txid = txid })
</p>
